.about-container{
  margin: 1em;
  line-height: 1.4em;
}
.about-container img {
  margin-right: 1em;
}
.resume-link{
  padding: 1em;
  background-color: #ed0062;
  margin: 1em 0;
  display: inline-block;
}