header {
  text-align: center;
}
.logo {
  max-width: 500px;
  width: 100%;
}
nav {
  display: block;
}
.nav-link {
  margin: 0 1em;
  padding: .5em;
}

.active-nav{
  background: red;
}
.inactive-nav{
  background: none;
}

a:link{
  color: #fff;
}
a:active{
  color: #fff;
}
a:visited{
  color: #fff;
}